In [1]:
def say_hello():
    print("hello")

In [2]:
say_hello()

hello

In [7]:
def say_hello(name = "karki"):
    print("hello " + name)

In [8]:
say_hello("padam")

hello padam

In [9]:
say_hello()

hello karki

In [10]:
def add(n1, n2):
    return n1 + n2

In [13]:
result = add(1,23)

In [14]:
result

24

## Defining Functions

In [17]:
def even_check(num):
    return num % 2 == 0

In [18]:
even_check(21)

False

In [29]:
# return true if "even" in a list
def even_check_list(list_num):
    
    for num in list_num:
        if num % 2 == 0:
            return True
        else:
            pass
        
    return False

In [30]:
even_check_list([24,26,25,28])

True

In [31]:
even_check_list([23,25,25,27])

False

In [34]:
# return even numbers
def return_even(list_num):
    even_no = []
    for num in list_num:
        if num % 2 == 0:
            even_no.append(num)
        else:
            pass
        
    return even_no

In [37]:
return_even([1,5,3,6,4,8,12])

[6, 4, 8, 12]

In [38]:
return_even([5,3])

[]

In [44]:
work_hours = [("Padam",2000),("Vikram", 300),("Ganesh", 400)]

In [45]:
def employee_Winner(work_hours):
    current_max = 0
    employee_name = ""
    
    for employee, hours in work_hours:
        if current_max < hours:
            current_max = hours
            employee_name = employee
        else:
            pass
    return (employee_name, current_max)

In [47]:
result = employee_Winner(work_hours)

In [48]:
result

('Padam', 2000)

In [49]:
name, hours = employee_Winner(work_hours)

In [50]:
name

'Padam'

In [51]:
hours

2000

## Shufle game

In [1]:
example = [1,2,3,4,5,6,7,8,9]

In [2]:
from random import shuffle

In [3]:
newresult = shuffle(example)

In [4]:
newresult

In [6]:
example       # inplace shuffle, it doesnt return anything

[9, 5, 4, 7, 3, 2, 6, 1, 8]

In [10]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [11]:
newresult = shuffle_list(example)

In [12]:
newresult

[7, 5, 2, 1, 6, 4, 8, 3, 9]

In [24]:
mylist = [" ", " ", "O"]

In [26]:
shuffle_list(mylist)

['O', ' ', ' ']

In [75]:
def player_guess():
    guess= ""
    while guess not in ["0","1","2"]:
        guess = input("Pick a number between 0 to 2:")
        
    return int(guess)

In [76]:
player_guess()

Pick a number between 0 to 2:
Pick a number between 0 to 2:
Pick a number between 0 to 2:1

1

In [77]:
myindex = player_guess()

Pick a number between 0 to 2:1

In [78]:
myindex

1

In [79]:
def check_guess(mylist, guess):
    if mylist[guess] == "O":
        print("Correct")
    else:
        print("Wrong Guess!")
        print(mylist)

In [80]:
# Initial list
mylist = ["","","O"]

# Shuffle List
mixlist = shuffle_list(mylist)

# User guess
guess = player_guess()

# Check Guess
check_guess(mixlist,guess)

Pick a number between 0 to 2:2
Wrong Guess!
['O', '', '']