In [1]:
def sq(num):
    return num**2

In [2]:
nums = [1,2,3,4,5,6]

In [3]:
for item in map(sq, nums):
    print(item)

1
4
9
16
25
36

In [4]:
list(map(sq, nums))

[1, 4, 9, 16, 25, 36]

In [13]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return "EVEN"
    else:
        return mystring, "ODD"

In [14]:
names = ["Padam","Vikram", "Ganesh", "ASA"]

In [15]:
list(map(splicer, names))

[('Padam', 'ODD'), 'EVEN', 'EVEN', ('ASA', 'ODD')]

## Filter

In [18]:
def check_even(num):
    return num % 2 == 0

In [19]:
mynums = [1,2,3,4,5,6,47,8,47,4,52,4]

In [21]:
list(filter(check_even,mynums))

[2, 4, 6, 8, 4, 52, 4]

In [23]:
for n in filter(check_even,mynums):
    print(n)

2
4
6
8
4
52
4

## Lambda

In [24]:
square = lambda num: num ** 2

In [25]:
square(5)

25

In [28]:
mynums = [1,2,3,4,5,6,47,8,47,4,52,4]

list(map(lambda num: num**2, mynums))  # Map usage

[1, 4, 9, 16, 25, 36, 2209, 64, 2209, 16, 2704, 16]

In [29]:
list(filter(lambda num:num%2==0, mynums)) # Filter usage

[2, 4, 6, 8, 4, 52, 4]

In [33]:
names = ["Padam","Vikram","Ganesh"]
list(map(lambda num: num[::-1], names))  # Lambda with strings

['madaP', 'markiV', 'hsenaG']